html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
:root {
    --body-color: #434343;
    --btn-color: #FCB72B;
    --titles-color:#495567;
    --description-color:#939CAA;
}
body {
    padding: 0;
    margin: 0;
    font-family: "Space Mono", "Lexend Deca", sans-serif;
    font-display: swap;
    font-size: 16px;
    line-height: 1.4;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}
/* Header */
.site-nav{
    padding-top: 22px;
    padding-bottom: 21px;
    display: flex;
    white-space: nowrap;
    align-items: center;
}
.site-logo{
    margin-right: 59px;
}
.site-logo a{
    display: block;
}
.nav-list{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-right: auto;
}
.nav-items a{
    text-decoration: none;
    color: var(--description-color);
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    transition: ease 0.3s;
}
.nav-items a:hover{
    color: var(--btn-color);
}
.nav-items:not(:last-child){
    margin-right: 32px;
}
.get-button{
    padding: 15px 37px;
    background-color: var(--btn-color);
    border: 1px solid var(--btn-color);
    color: #ffff;
    cursor: pointer;
    border-radius: 10px;
    white-space: nowrap;
    transition: ease 0.3s;
}
.get-button:hover{
    background-color: #fff;
    border: 1px solid var(--btn-color);
    color: var(--btn-color);
}


/* Hero */
.hero-section{
    background-image:linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
    url("/images/main/header/Bitmapback.png");
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 116px;
}
.hero-wrapper{
    padding-top: 153px;
    padding-bottom: 152px;
    width: 500px;
}
.hero-wrapper-description{
    width: 405px;
    margin-left: auto;
    position: relative;
}
.hero-wrapper-description::before{
    content: "";
    position: absolute;
    background: url(/images/main/hero/chiziq.png) no-repeat;
    width: 203px;
    height: 15px;
    left: -255px;
    top: 45px;
}
.hero-wrapper-description::after{
    content: "";
    position: absolute;
    background: url(/images/main/hero/strelka.png) no-repeat;
    width: 455px;
    height: 155px;
    left: 440px;
    top: 45px;
}
.hero-title{
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #fff;
    margin-bottom: 40px;
    margin-top: 0;
}
.hero-description{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 40px;
    margin-top: 0;
}
.oval-btn{
    position: relative;
}
.oval-btn::after{
    content: "";
    position: absolute;
    background: url(/images/main/hero/aylana.png) no-repeat;
    width: 187px;
    height: 64px;
    margin-left: 802px;
}

/* Order section */
.site-main{
    padding-top: 44px;
}
.order-section{
    margin-bottom: 147px;
}
.order-card-list{
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.order-card-list li:not(:last-child){
    margin-right: 30px;
}
.order-card-item{
    width: 340px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.order-card-item::before{
    content: "";
    width: 96px;
    height: 96px;
    margin-bottom: 40px;
}
.locate::before{
    background: url(/images/main/header/locate.png) no-repeat;
}
.scooter::before{
    background: url(/images/main/header/scooter.png) no-repeat;
}
.enjoy::before{
    background: url(/images/main/header/ride.png) no-repeat;
}
.order-card-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -1.07143px;
    color: var(--titles-color);
    margin-bottom: 27px;
    margin-top: 0;
}
.order-card-description{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 167%;
    color: #939CAA;
    color: var(--description-color);
    margin: 0;
}

/* Services */
.services-section{
    padding-bottom: 178px;
}
.services-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.services-item:not(:last-child){
    margin-bottom: 110px;
}
.services-wrapper{
    display: flex;
    position: relative;
}

.services-wrapper-description{
    width: 445px;
    margin-bottom: 110px;
}
.services-wrapper-description-city{
    width: 445px;
    margin-bottom: 110px;
    margin-left: auto;
}
.telemetry{
    align-items: flex-end;
}
.telemetry::after{
    content: "";
    position: absolute;
    background: url(/images/main/services/telemetry.png) no-repeat;
    width: 740px;
    height: 470px;
    right: -119px;
    top: -30px;
}
.city::before{
    content: "";
    position: absolute;
    background: url(/images/main/services/city.png) no-repeat;
    width: 620px;
    height: 450px;
    left: -120px;
}
.payments::after{
    content: "";
    position: absolute;
    background: url(/images/main/services/payment.png) no-repeat;
    width: 610px;
    height: 470px;
    right: -119px;
    top: -30px;
}

.services-wrapper-title{
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: var(--titles-color);
    margin-top: 0;
    margin-bottom: 24px;
}
.services-wrapper-para{
    font-weight: normal;
    font-size: 15px;
    line-height: 167%;
    color: #939CAA;
    color: var(--description-color);
    margin-top: 0;
    margin-bottom: 40px;
}


/* Main Footer */
.main-footer{
    background: url(/images/main/services/Mask.png) no-repeat;
    max-width: 1440px;
    margin: 0 auto;
    padding: 102px 0;
}
.sign-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-app{
    display: flex;
    align-items: center;
}
.mobile-app a{
    display: block;
}
.mobile-app a:not(:last-child){
    margin-right: 18px;
}
.sign-title{
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: #FFFFFF;
    width: 415px;
    margin-right: 336px;
    margin: 0;
}

/* Footer */
.site-footer{
    background-color: #333A44;
}
.footer-wrapper{
    align-items: center;
    display: flex;
}
.footer-list{
    margin: 0;
    display: flex;
    align-items: center;
    padding-top:35px;
    padding-bottom: 32px;
    list-style-type: none;
    margin-right: 571px;
}
.footer-item-image{
    margin-right: 59px;
}
.footer-item-image a{
    display: block;
}
.footer-item a{
    text-decoration: none;
    color: var(--description-color);
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    transition: ease 0.3s;
}
.footer-item a:hover{
    color: var(--btn-color);
}
.footer-item:not(:last-child){
    margin-right: 32px;
}
.social-icons-list{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.social-icons-item:not(:last-child){
    margin-right: 24px;
}
.social-icons-item img{
    transition: ease 0.3s;
}
.social-icons-item img:hover{
    transform: rotate(360deg);
    filter: grayscale(90%);
}


/* About Page */
.short-hero{
    background-repeat: no-repeat;
    background-position: center;
    padding: 72px 0;
}
.about-hero{
    background-image:linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
    url("/images/about/header/Bitmap.png");
}
.pages-header-title{
    margin: 0;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px; 
    color: #FFFFFF;
    display: flex;
    position: relative;
}
.pages-header-title::after{
    content: "";
    background: url(/images/about/header/hero.png) no-repeat;
    width: 203px;
    height: 63px;
    position: absolute;
    right: -119px;
}

.about-services-section{
    padding-top: 140px;
}
.mobility::after{
    content: "";
    position: absolute;
    background: url(/images/about/header/mobility.png) no-repeat;
    width: 740px;
    height: 470px;
    right: -119px;
    top: -30px;
}
.about-services-wrapper{
    margin-bottom: 0;
}
.about-services-wrapper-para{
    margin: 0;
}
.about-services-wrapper-description{
    padding-top: 50px;
}
.about-services-wrapper-description-urban::before{
    content: "";
    position: absolute;
    background: url(/images/about/header/urban.png) no-repeat;
    width: 620px;
    height: 450px;
    top: -30px;
    left: -120px;
}
.about-services-wrapper-description-urban{
    width: 445px;
    padding-bottom: 110px;
    margin-left: auto;
}
.about-services-item:not(:last-child){
    margin-bottom: 190px;
}



/* Values Section */
.values-title{
    margin: 0;
    margin-bottom: 85px;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: var(--titles-color);
}
.values-item{
    align-items: center;
    text-align: center;
    width: 340px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.values-item::before{
    content: "";
    background: url(/images/about/header/tech.png) no-repeat;
    width: 335px;
    height: 355px;
    margin-bottom: 32px;
}
.about-integrity::before{
    background: url(/images/about/header/integrity.png) no-repeat;
}
.about-community::before{
    background: url(/images/about/header/community.png) no-repeat;
}



/* # FAQ
——————————————— */

.question-section{
    padding-top: 120px;
    padding-bottom: 160px;
}
.question-title{
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: var(--titles-color);
}
.faq-wrapper{
    display: flex;
    justify-content: space-between;
}
.faq-wrapper:not(:last-child){
    margin-bottom: 64px;
}
.faq-wrapper-title{
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: var(--titles-color);
    margin-right: 30px;
    margin: 0;
}
.answer-description{
    margin: 0;
}
.faq-list,
.faq-list li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 730px;
}

.faq-list ul {
    margin-left: 0;
}

.faq-list li {
    border: none;
    border-radius: 3px;
    background: #fff;
    margin-bottom: 15px;
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition:    all 0.3s ease-in-out;
    -ms-transition:     all 0.3s ease-in-out;
    -o-transition:      all 0.3s ease-in-out;
    transition:         all 0.3s ease-in-out;
    
    -webkit-box-shadow: 0px 5px 30px 0px rgba(38,50,56,0.15);	
    -moz-box-shadow: 0px 5px 30px 0px rgba(38,50,56,0.15);	
    box-shadow: 0px 5px 30px 0px rgba(38,50,56,0.15);	
}

.faq-list li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 117%;
    color: var(--titles-color);
    letter-spacing: -1.07143px;
}

.faq-list li:hover {
    -webkit-box-shadow: 0px 3px 10px 0px rgba(38,50,56,0.15);	
    -moz-box-shadow: 0px 3px 10px 0px rgba(38,50,56,0.15);
    box-shadow: 0px 3px 10px 0px rgba(38,50,56,0.15);
}

.faq-list li .question {
    display: block;
    font-weight: 500;
    border: none;
    padding: 25px 35px 22px 60px;
    position: relative;
}

.faq-list li .question.on {
    background: #F5F7F8;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: #263238;
}

.faq-list li .question:before {
    content: "";
    background: url(/images/about/question/go.png) no-repeat;
    width: 18px;
    height: 14px;
    left: 25px;
    margin-right: 10px;
    position: absolute;
    top: 29px;
}

.faq-list li .question.on:before {
    content: "";
    background: url(/images/about/question/down.png) no-repeat;
    width: 18px;
    height: 14px;
}

.single-post  .faq-list li .answer {
    border-top: 1px solid #ECEFF1;
    display: none;
    font-size: 16px;
    padding: 25px 35px 25px;
}
.it-works{
    padding: 32px 40px;
}
.answer{
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 32px;
    color: var(--titles-color);
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
}

/* Careers  Page*/
.careers-hero{
    background-image:linear-gradient(rgba(47, 59, 89, 0.75), rgba(47, 59, 89, 0.75)),
    url("/images/careers/Bitmap.png");
}
.careers-header-title{
    margin: 0;
}
.careers-services-section{
    padding-top: 175px;
    padding-bottom: 110px;
}
.mission::after{
    content: "";
    position: absolute;
    background: url(/images/careers/mission.png) no-repeat;
    width: 740px;
    height: 470px;
    right: -119px;
    top: -30px;
}
.careers-values-section{
    padding-bottom: 160px;
}
.careers-card-list{
    margin-bottom: 120px;
}

.teams-list{
    padding: 0;
    margin: 0;
}
.teams-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:32px;
    padding-bottom: 35px;
    padding-left: 40px;
    padding-right: 64px;
    background-color: #F2F5F9;
}
.teams-item:not(:last-child){
    margin-bottom: 24px;
}
.teams-wrapper{
    margin-right: 500px;
}
.teams-wrapper-title{
    margin: 0;
    font-weight: bold;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -1.07143px;
    color: var(--titles-color);
    margin-bottom: 8px;
}
.teams-wrapper-description{
    margin: 0;
    font-weight: normal;
    font-size: 15px;
    line-height: 167%;
    color: var(--titles-color);
}


/* Location Page*/

.image-section{
    padding-top: 120px;
    position: relative;
}
.jakarta{
    position: absolute;
    right: 423px;
    top: 150px;
    background: url(/images/location/jakarta.png) no-repeat;
    width: 190px;
    height: 90px;
}
.yokohama{
    position: absolute;
    background: url(/images/location/yokohama.png) no-repeat;
    width: 190px;
    height: 90px;
    right: 180px;
    bottom: 300px;
}
.london{
    position: absolute;
    left: 280px;
    top: 310px;
    background: url(/images/location/london.png) no-repeat;
    width: 190px;
    height: 90px;
}
.new-york{
    position: absolute;
    left: 450px;
    top: 70px;
    background: url(/images/location/london.png) no-repeat;
    width: 190px;
    height: 90px;
}

/* Location listed */
.location-listed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
    padding-top: 120px;
}
.listed-title{
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: var(--titles-color);
    letter-spacing: -2.14286px;
    margin: 0;
    margin-right: 30px;
}
.listed-description{
    font-weight: normal;
    font-size: 15px;
    line-height: 167%;
    width: 445px;
    margin: 0;
    color: var(--description-color);
    margin-right: 105px;
}


.openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
.closeMenu .nav-list{
    display: none;
    cursor: pointer;
}

/* Responsive */
@media only screen and (min-width: 433px) and (max-width: 768px){
    .container{
        max-width: 808px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-list{
        margin-right: 129px;
    }
    .hero-section{
        background-size: cover;
        margin-bottom: 0;
    }
    .hero-title{
        text-align: center;
    }
    .hero-wrapper{
        width: 573px;
        margin: 0 auto;
        padding-bottom: 230px;
    }
    .hero-wrapper-description{
        margin-left: 0;
        text-align: center;
        width: 100%;
    }
    .hero-wrapper-description::before{
        display: none;
    }
    .hero-wrapper-description::after{
        content: "";
        position: absolute;
        background: url(/images/main/hero/strelka.png) no-repeat;
        width: 455px;
        height: 155px;
        left: -220px;
        top: 205px;
    }
    .oval-btn::after {
        content: "";
        position: absolute;
        background: url(/images/main/hero/aylana.png) no-repeat;
        width: 187px;
        height: 64px;
        margin-left: 144px;
        top: 165px;
    }
    
    .site-main{
        padding-top: 122px;
    }
    .order-card-list{
        display: block;
    }
    .order-card-item{
        width: 398px;
        margin: 0 auto;
        list-style-type: none;
        display: block;
        position: relative;
        right: -79px;
    }
    .order-card-item::before{
        position: absolute;
        margin: 0;
        left: -164px;
    }
    .order-card-list li:not(:last-child) {
        margin: 0 auto;
        margin-bottom: 40px;
    }
    
    
    .services-section{
        padding-bottom: 104px;
    }
    .services-wrapper::after{
        right: 0;
        left: 10px;
        display: block;
    }
    .services-wrapper-description{
        margin: 0 auto;
        margin-top: 490px;
        width: 80%;
        align-items: center;
        text-align: center;
    }
    
    .services-wrapper-description-city{
        margin: 0 auto;
        text-align: center;
        width: 80%;
        margin-top: 520px;
    }
    .services-wrapper-title{
        width: 457px;
        margin:0 auto;
        margin-bottom: 40px;
    }
    .city::before{
        left: -20px;
    }
    .payments::after{
        left: 138px;
    }
    .sign-wrapper{
        flex-direction: column;
        padding-top: 62px;
        padding-bottom: 41px;
    }
    .sign-title{
        width: 457px;
        text-align: center;
        margin-bottom: 40px;
    }
    .main-footer{
        padding: 0;
    }
    .footer-list{
        margin-right: 153px;
    }
    
    /* About page */
    .pages-header-title::after {
        right: -20px;
    }
    .about-services-wrapper-description-urban{
        width: 573px;
        margin: 0 auto;
        margin-top: 455px;
        align-items: center;
        text-align: center;
    }
    .about-services-wrapper-description-urban::before{
        left: -20px;
    }
    .about-community{
        margin: 0 auto;
    }
    .question-title{
        margin-bottom: 62px;
    }
    .faq-wrapper{
        display: block;
    }
    .faq-wrapper-title{
        margin-bottom: 32px;
        text-align: center;
    }
    .faq-list li{
        margin-bottom: 24px;
    }
    .it-works{
        width: 689px;
        margin: 0 auto;
    }
    
    
    .teams-wrapper{
        margin-right: 207px;
    }
    .teams-item{
        padding: 34px 48px;
    }
    .careers-values-section{
        padding-bottom: 120px;
    }
    
    
    .new-york{
        left: 540px;
        top: 245px;
    }
    .location-listed{
        flex-direction: column;
        width: 573px;
        margin: 0 auto;
    }
    .listed-title{
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
    }
    .listed-description{
        text-align: center;
        margin-right: 0;
        margin-bottom: 40px;
    }
}



@media  screen and (max-width: 432px){
    .container{
        max-width: 432px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-list{
        display: block;
        position: absolute;
        width: 70vw;
        height: 90vh;
        margin-top: 14vh;
        position: fixed;
        padding-left: 32px;
        padding-top: 64px;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:var(--titles-color);
        transition: top 1s ease;
        transform: translateX(-300px);
        transition: 0.3s;
    }
    .active .nav-items a{
        color: #fff;
    }
    .nav-items:not(:last-child) {
        /* margin-right: 32px; */
        margin-bottom: 32px;
    }
  
    
    .burger-btn {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 7%;
        left: 10%;
        width: 35px;
        height: 35px;
        margin-top: -17.5px;
        margin-left: -17.5px;
    }
    .burger-btn .lines {
        display: block;
        width: 100%;
        height: 4px;
        background: var(--btn-color);
        position: relative;
        top: 50%;
        transition: transform 0.5s cubic-bezier(0, 0, 1, 1), background 0.5s ease;
        margin-top: -2px;
    }
    .burger-btn .lines:after,
    .burger-btn .lines:before {
        content: "";
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        background: var(--btn-color);
        -webkit-transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    }
    .burger-btn .lines:after {
        bottom: -10px;
    }
    .burger-btn .lines:before {
        top: -10px;
    }
    .burger-btn.active .lines {
        background: transparent;
        transform: rotate(90deg);
    }
    .burger-btn.active .lines:after {
        top: 0;
        transform: rotate(-135deg);
    }
    .burger-btn.active .lines:before {
        top: 0;
        transform: rotate(135deg);
    }
    
    .site-nav button{
        display: none;
    }
    .site-logo{
        margin: 0;
        margin-left: 140px;
    }
    .hero-wrapper{
        padding-top: 115px;
        padding-bottom: 179px;
        width: 311px;
        text-align: center;
        margin: 0 auto;
    }
    .hero-wrapper-description{
        width: 311px;
        margin-left: 0;
    }
    .hero-section{
        background-size: cover;
    }
    .hero-wrapper-description::before{
        display: none;
    }
    .hero-wrapper-description::after{
        left: -340px;
        top: 190px;
    }
    .oval-btn{
        position: absolute;
        left: 30px;
        z-index: 99;
        top: 450px;
        transform: translateX(-300px);
    }
    .oval-btn::after{
        display: none;
    }
    .active{
        transform: translateX(0px);
        position: fixed;
    }
    
    .order-card-list{
        display: block;
    }
    .order-card-item{
        align-items: center;
        text-align: center;
        width: 311px;
        margin: 0 auto;
    }
    .order-card-list li:not(:last-child){
        margin: 0 auto;
        margin-bottom: 40px;
    }
    
    .services-wrapper-description{
        width: 311px;
        text-align: center;
        margin: 0 auto;
        margin-top: 375px;
    }
    .telemetry::after{
        width: 400px;
        height: 320px;
        right: -20px;
        top: 0px;
        background-size: contain;
    }
    .city::before{
        width: 522px;
        height: 385px;
        left: -120px;
        background-size: contain;
    }
    .services-wrapper-description-city{
        width: 311px;
        text-align: center;
        margin: 0 auto;
        margin-top: 436px;
    }
    .payments::after{
        width: 400px;
        height: 390px;
        right: -20px;
        background-size: contain;
    }
    
    .sign-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 311px;
        margin: 0 auto;
    }
    .sign-title{
        margin: 0;
        margin-bottom: 40px;
        text-align: center;
    }
    .main-footer{
        background-size: cover;
    }
    
    .footer-list{
        display: flex;
        flex-direction: column;
        margin-right: 0;
        padding: 0;
        margin-bottom: 85px;
    }
    .footer-wrapper{
        padding-top: 64px;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
    }
    .footer-list li{
        margin-right: 0;
    }
    .footer-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 16px;
    }
    .footer-item-image{
        margin-bottom: 40px;
    }
    
    /* About page */
    .pages-header-title{
        display: block;
        text-align: center;
    }
    .pages-header-title::after{
        display: none;
    }
    
    .mobility::after{
        width: 540px;
        height: 340px;
        right: -135px;
        top: 0;
        background-size: contain;
    }
    .about-services-wrapper-description-urban::before{
        width: 500px;
        height: 380px;
        top: -30px;
        left: -120px;
        background-size: contain;
    }
    .about-services-wrapper-description-urban{
        width: 331px;
        margin: 0 auto;
        padding: 0;
        margin-bottom: 110px;
        margin-top: 375px;
        text-align: center;
    }
    .values-item{
        margin: 0 auto;
        width: 331px;
    }
    
    .faq-wrapper{
        flex-direction: column;
        width: 331px;
        margin: 0 auto;
    }
    .faq-list, .faq-list li{
        width: 331px;
    }
    .faq-wrapper-title{
        margin-bottom: 32px;
    }
    .it-works{
        width: 331px;
    }
    .faq-wrapper:not(:last-child) {
        
        margin: 0 auto;
        margin-bottom: 64px;
    }
    
    /* Careers page */
    .mission::after{
        width: 522px;
        height: 330px;
        right: -119px;
        top: -30px;
        background-size: contain;
    }
    .teams-item{
        flex-direction: column;
        align-items: stretch;
    }
    .teams-wrapper{
        margin-right: 0;
        margin-bottom: 16px;
    }
    
    /* Location page */
    .location-listed {
        width: 331px;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 120px;
        padding-top: 120px;
        margin-top: 250px;
    }
    .image-section{
        padding-top: 50px;
    }
    .listed-title{
        margin-right: 0;
        margin-bottom: 40px;
    }
    .listed-description{
        margin-right: 0;
        margin-bottom: 40px;
        width: inherit;
    }
    .yokohama{
        bottom:-120px;
        left: 100px;
    }
    .london{
        left: 100px;
        top: 370px;
    }
    .new-york{
        top: 470px;
        left: 100px;
    }
    .jakarta{
        right: 140px;
        top: 180px;
    }
}